{% extends "base.html" %}

{% load static %}

{% block title %}
  Xabar Yuborish
{% endblock title %}

{% block content %}
  <section>
    <div class="container xabar-yuborish-container pt-5 pb-5">
      <form class="xabar-yuborish" action="" onsubmit="send_message()">{% csrf_token %}
        <input type="file" name="content" id="content">
        <textarea name="captions" id="captions" cols="30" rows="10"></textarea>
        <div  class="buttons"></div>
        <div class="d-flex gap-4">
          <button type="button" class="add" id="add" onclick="add_wraper()">+ Add</button>
          <button class="btn btn-success btn-small" type="submit">Submit</button>
        </div>
      </form>
<!-- 
      <form method="POST" class="xabar-yuborish">{% csrf_token %}
        <input type="file" name="content" id="content">
        <textarea name="captions" id="captions" cols="30" rows="10"></textarea>
        <div name="button" class="buttons"></div>
        
        <div class="d-flex gap-4">
          <button type="button" class="add" id="add" onclick="add_wraper()">+ Add</button>
          <button class="btn btn-success btn-small" type="submit">Submit</button>
        </div>
      </form> -->


      <div class="new-btn-wraper">
        <button onclick="add_wraper()" class="btn btn-small btn-info closed-btn">X</button>
        <input type="text" placeholder="name">
        <input type="text" placeholder="url">
        <button onclick="add_save()" class="btn btn-small btn-primary btn-save">Save</button>
      </div>

      <div class="edit-btn-wraper">
        <button onclick="edit_wraper()" class="btn btn-small btn-info closed-btn">X</button>
        <input type="text" placeholder="name">
        <input type="text" placeholder="url">
        <button onclick="delete_btn()" class="btn btn-small btn-danger">Delete</button>
        <button onclick="update_btn()" class="btn btn-small btn-primary btn-save">Save</button>
      </div>
    </div>
  </section>
{% endblock content %}