{% extends "base.html" %}

{% block content %}
<style>
    .center {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
    }
</style>
<section>
    <div class="container">
        <div class="shadow-lg p-4 mt-5 round-10" style="border-radius: 15px;">
            <h1 class="text-center">Delivers mijozlari</h1>
            <div class="texe-center center">
                <a href="{% url 'delivred:excel' %}" class="btn btn-success">Excel</a>
                <a href="{% url 'delivred:clear' %}" class="btn btn-danger">Clear</a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Phone</th>
                        <th scope="col">location</th>
                        <th scope="col">price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in delivers %}
                    <tr>
                        <th scope="row">{{ user.id }}</th>
                        <td>{{ user.name }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.location }}</td>
                        <td>{{ user.price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% for message in messages %}
<div>
    {{message.message}}
</div>
{% endfor %}

{% endblock content %}